<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="MedExam.ConnectionString" connectionString="Data Source=(local);User ID=sa;Password=1;Initial Catalog=profOsmotr" />-->
  <!--<add name="MedExam.ConnectionString" providerName="System.Data.OleDb"
         connectionString="Provider=SQLOLEDB;User ID=sa;Password=1;Initial Catalog=profOsmotr;Data Source=(local)" />-->
  <!--<add name="MedExam.ConnectionString" providerName="System.Data.OleDb"
         connectionString="Provider=SQLOLEDB;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=profOsmotr;Data Source=(local)" />-->

  <add name="MedExamEntities" connectionString="metadata=res://*/MedExamModel.csdl|res://*/MedExamModel.ssdl|res://*/MedExamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=profOsmotr;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />

 <!-- <add name="MedExamEntities" connectionString="metadata=res://*/MedExamModel.csdl|res://*/MedExamModel.ssdl|res://*/MedExamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Integrated Security=true;Persist Security Info=False;Initial Catalog=profOsmotr;Data Source=(local);MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="MedExam.ConnectionString" connectionString="Integrated Security=SSPI;Initial Catalog=profOsmotr;Data Source=(local);User ID=sa;Password=1" />-->
</connectionStrings>
<!--"Persist Security Info=False;Integrated Security=true;
    Initial Catalog=AdventureWorks;Server=MSSQL1"-->