<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog_internal_log.txt"
      internalLogLevel="Error"
      throwExceptions="false"
      autoReload="true">

  <extensions>
    <add assembly="NLog.EntityFramework"/>
  </extensions>
  <include file="${basedir}\NLogParams.config"/>

  <targets async="true">
    <target
        name="error_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="false"
        filename="${logDirectory}\${appShortName}_errors.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:
            innerFormat=ToString:
            maxInnerExceptionLevel=100:
            format=Type, Method} ${newline}"/>
    
    <target
        name="error_stacktrace_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="false"
        filename="${logDirectory}\${appShortName}_errors_stacktrace.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:
            innerFormat=Type, Method, ToString, Message, StackTrace:
            maxInnerExceptionLevel=100:
            format=Type, Method, ToString, Message, StackTrace} ${newline}"/>

    <target
        name="warn_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="true"
        filename="${logDirectory}\${appShortName}_warns.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:
            innerFormat=Type, Method, ToString, Message, StackTrace:
            maxInnerExceptionLevel=100:
            format=Type, Method, ToString, Message, StackTrace} ${newline}"/>

    <target
            name="info_log"
            archiveEvery="Hour"
            deleteOldFileOnStartup="true"
            filename="${logDirectory}\${appShortName}_info.log"
            xsi:type="File"
            layout="[${logger}]: ${date}| ${message} ${newline}"/>    

    <target
        name="full_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="true"
        filename="${logDirectory}\${appShortName}_full.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:
            innerFormat=Type, Method, ToString, Message, StackTrace:
            maxInnerExceptionLevel=100:
            format=Type, Method, ToString, Message, StackTrace} ${newline}">
    </target>

    <target
        name="container_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="true"
        filename="${logDirectory}\${appShortName}_container.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:format=Type, Method, ToString, Message, StackTrace} ${newline}">
    </target>
    
    <target
        name="trace_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="true"
        filename="${logDirectory}\${appShortName}_trace.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${exception:format=Type, Method, ToString, Message, StackTrace} ${newline}">
    </target>

    <target
        name="sql_log"
        archiveEvery="Hour"
        deleteOldFileOnStartup="true"
        filename="${logDirectory}\${appShortName}_sql.log"
        xsi:type="File"
        layout="[${logger}]: ${date}| ${message} ${newline}">
    </target>
  </targets>

  <rules>

    <!-- Полный лог -->
    <logger name="*" minLevel="Trace" maxlevel="Fatal" writeTo="full_log" />

    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error_log" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error_stacktrace_log" />
    <logger name="*" level="Warn" writeTo="warn_log" />
    <logger name="MedExam.NLogLoggerAdapter" minlevel="Trace" maxlevel="Fatal" writeTo="container_log" final="true" />

    <!-- лог SQL-запросов -->
    <logger name="*.Entities.*" minlevel="Trace" maxlevel="Fatal" writeTo="sql_log" final="true" />
    <logger name="*.Data.Entity.*" minlevel="Trace" maxlevel="Fatal" writeTo="sql_log" final="true" />
    
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="trace_log" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="Info_log" />

  </rules>
</nlog>