<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appShortName"
            value="med" />
  <variable name="appName"
            value="MedExam" />
  <variable name="logDirectory"
          value="${basedir}\Logs\logs_at_${shortdate}"/>
</nlog>